:root{
    --linear: linear-gradient(20deg, rgba(234,236,134,0.857) 0%, rgba(26,203,232,0.860) 100%);
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: 0 auto;
    background: var(--linear); 
}
main{
    margin: 20px;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
}
h1{
    text-align: center;
}
/* =========== START GAME =========== */
#start-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.level-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.level-container p {
    font-size: 1rem;
}

.select-container {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#level-option {
    border-radius: 4px;
}

#btn-start-game {
    background: var(--linear);
    border: none;
    cursor: pointer;
}

/* =========== PLAY GAME =========== */
#game {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    margin-bottom: 1rem;
    flex : 0 0 20%;
    background-color: #fff;
    height: 100%;
} 

#time, #step {
    font-size: 20px;
    padding: 20px;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.memory-game {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    perspective: 1000px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(194, 191, 191);
}

.memory-card {
    width: 100px;
    height: 150px;
    position: relative;   
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-color: #fff;
}
.memory-card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    position: absolute;
    max-width: 100%;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front-face {
    transform: rotateY(180deg);
}

/* =========== END GAME =========== */
#end-game {
    display: none;
    justify-content: center;
    align-items: center;
}

.info {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-play-again, #btn-reload {
    width: 130px;
    height: 50px;
    margin: 0 1rem;
    background:var(--linear);
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.info h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.box {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.time-box, .step-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
} 

.time-box p, .step-box p {
    font-weight: 600;
    margin-top: 10px;
}

@media only screen and (max-width: 600px){
    .info h2 {
        font-size: 0.5rem;
        margin-bottom: 2rem;
    }
}

